POSTGRES_HOST=localhost
POSTGRES_PORT=54322
POSTGRES_USER=supabase_admin
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=next_go_supabase_base

# app-service
APP_SERVICE_ADDR=:8080
SESSION_SECRET=change-me-in-local-env